body {
  background-color: #ca2256;
  font-family: Arial, sans-serif;
  color: #ff1495;
  display:flex;
  justify-content: center;
  margin:0;
}

form {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(218, 216, 217, 0.748);
  display: flex;
  flex-direction: column;
}

h1,
h4 {
  color: #ca2256;
  display:flex;
  justify-content: center;
  margin:0;

}

button {
  background-color:#ff1495;
  color: #ffffff;
}

button:hover {
  background-color:#ff1495;
}

fieldset {
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 4px;
}

legend {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.MuiFormControl-root {
  margin-bottom: 15px;
}
